
[Unit]
Description=My Blog
After=network.target

[Service]
Type=simple
User=seth
Group=seth
ExecStart=/home/seth/bin/blog
Restart=always

[Install]
WantedBy=default.target