
body {

    width: 768px;
    margin:0px auto;
    font-family:sans-serif;
    font: normal 20px Verdana, Arial, sans-serif;
    background-color: rgba(222, 222, 222, 255);
}

@media only screen and (max-width: 500px) {
    body {
        width: 360px;
    }
    textarea {
        width: 360px;
        height: 80px;
    }
}

.title .byline .date {
    text-align:center;
}

table#related {
    background: #e9e9e9;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

pre, code{
    direction: ltr;
    text-align: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
}

pre {
    color: black;
    //background: #aabbcc;
    background: #ffffff;
}

#glcanvas {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}
